body {
  height: 100vh;
  transition: all 0.3s;
}

.navbar {
  transition: all 0.3s;
}

.my-mb {
  margin-bottom: 3rem;
}

.logo-label {
  font-size: 1.8rem;
  letter-spacing: 4px;
}

.toggle-light-dark {
  border: 0;
  margin: 0;
  background-color: transparent;
}

.light-dark-mode {
  color: #0a58ca;
}

.nav-right-section {
  display: flex;
  align-items: baseline;
}

.accordion-dark {
  --bs-accordion-btn-bg: #212529;
  --bs-accordion-btn-color: white;
  --bs-accordion-active-bg: #495057;
  --bs-accordion-active-color: white;
  --bs-accordion-bg: #212529;
  --bs-accordion-color: white;
}

.accordion-button-dark:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.weather-data-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 1rem 2rem;
  border-radius: 30px;
  padding: 104px 0;

  background-image: url(/images/sergey-pesterev-tMvuB9se2uQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.city-information {
  display: flex;
  height: 90%;

  flex-direction: column;
}

.weather-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}

.city-name-text {
  font-size: 3.8rem;
  color: white;
}

.date-text {
  color: white;
}

.wind-rain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  margin-top: 30px;

  padding: 12px 12px;
  width: 82%;
  border-radius: 30px;
}

.temperature-information {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(160deg, #0093e9 0%, #0a58ca 100%);

  border-radius: 30px;
}

.weather-icon {
  width: 175px;
}

.temperature-text {
  color: white;
  font-size: 2.8rem;
  font-weight: 600;
}

.slider-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1rem 2rem;
}

.slider-paragraph {
  margin-left: 8rem;
}

.carousel-inner {
  border-radius: 30px;

  width: 80vh;
  height: 445px;
}

.c-label {
  font-size: 3rem;
}

.c-img {
  filter: brightness(0.7);
}

.c-img-1 {
  object-fit: cover;
  height: 542px;
}

.c-img-2 {
  object-fit: cover;
  height: 542px;
}

.c-img-3 {
  object-fit: cover;
  height: 542px;
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-icon-info {
  width: 10rem;
}

.city-name-info {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 4%;
}

.temperature-text-info {
  font-size: 2.5rem;
  font-weight: 800;
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-sec-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-sec-bottom-text {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 0.5rem;
  margin-top: 0.5rem;
}

.faq {
  padding-bottom: 2.8rem;
}

footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: #e9ecef;
}

.footer-text {
  font-size: 0.8rem;
  color: rgb(154, 154, 154);
}

.dark-footer {
  background-color: #343a40;
  color: white;
}

.social-link {
  color: grey;
  text-decoration: none;

  margin: 1.2% 0.8%;
}

.my-modal {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.my-modal-inner {
  display: flex;
  flex-direction: column;
  width: 50%;

  background-color: #e9ecef;
  padding: 2rem 2rem;
}

.invalid-api-key {
  font-size: 0.8rem;
}

.modal-paragraph {
  font-size: 1.2rem;
}

.my-modal-open {
  opacity: 1;
  z-index: 999;
}

.make-it-invisible {
  opacity: 0;
}

.make-it-visible {
  opacity: 1;
}

@media screen and (max-width: 1469px) {
  .slider-banner {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slider-paragraph {
    margin-left: 0;
  }

  .carousel-inner {
    width: 80vh;
  }
}

@media screen and (max-width: 1040px) {
  .carousel-inner {
    width: 60vh;
  }

  .my-modal-inner {
    width: 90%;
  }

  .modal-paragraph {
    font-size: 0.9rem;
  }

  .invalid-api-key {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 750px) {
  .weather-data {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .city-information {
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }

  .carousel-inner {
    width: 40vh;
  }

  footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
